* {
  margin:0;
}

    body {
      background-color: red;
      font-size: 12px;
      display:flex;
      flex-direction: column;
      text-align: justify;
    }
    #smalll{
      display:block;
      width:auto;
    }
    #medium{
      display:block;
      width:auto;
    }
    #large{
      display:block;
      width:auto;
    }

@media screen and (min-width: 300px) {

    body{
      background-color: green;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;


    }
    #smalll{
      display:block;
      width:60%;
    }
    #medium{
      display:block;
      width:30%
    }
    #large{
      display:block;
      width:90%
    }

@media only screen and (min-width: 768px) {

    body{
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: blue;
    }
    #smalll{
      display:block;
      width:30%
    }
    #medium{
      display:block;
      width:30%
    }
    #large{
      display:block;
      width:30%
    }
